:root {
    --font: 'Quicksand';
    --color1: #1A181B;
    --color2: #564D65;
    --color3: #3E8989;
    --color4: #2CDA9D;
    --color5: #05F140;
}

html {
    box-sizing: boder-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-color: #3E8989;
    line-height: 1.5;
}


/*Globales*/

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    /* width: min( 80%, 120rem); */
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--color4);
    font-family: var(--font);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/*Header*/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}


/*Footer*/

.footer {
    background-color: var(--color2);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--font);
    font-size: 2.2rem;
}


/*Navegacion*/

.navegacion {
    background-color: var(--color2);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* gap: 5rem; */
}

.navegacion__enlace {
    font-family: var(--font);
    color: white;
    font-size: 3rem;
    margin-right: 2rem;
}

.navegacion__enlace:last-of-type {
    margin-right: 0;
}

.navegacion__enlace:hover,
.navegacion__enlace--activo {
    color: var(--color5);
}


/*Grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/*Productos*/

.producto {
    background-color: #564D65;
    padding: 1rem;
    border-radius: 1rem;
}

.producto__imagen {
    width: 100%;
}

.producto__informacion {
    text-align: center;
}

.producto__nombre {
    font-family: var(--font);
    font-size: 3rem;
}

.producto__precio {
    font-family: var(--font);
    font-size: 2rem;
    color: #05F140;
}

.producto__nombre,
.producto__precio {
    margin: 1rem 0;
}


/*Graficos*/

.grafico {
    min-height: 30rem;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1rem solid #564D65;
}

.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(img/grafico1.jpg);
}

.grafico--node {
    grid-row: 8 / 9;
    grid-column: 1 / 3;
    background-image: url(img/grafico2.jpg);
}

@media (min-width: 480px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/*Nosotros*/

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__contenido p {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    font-family: var(--font);
}

.nosotros__imagen {
    padding-top: 2rem;
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}


/*Bloques*/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1;
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    /* text-transform: uppercase; */
    font-size: 2rem;
}


/*Producto*/

.camisa {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 1rem;
}

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.camisa__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .camisa__imagen {
        grid-column: 1 / 2;
    }
}

.formulario {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
}

@media (min-width: 768px) {
    .formulario {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .select {
        grid-row: 1 / 2;
    }
}

@media (min-width: 768px) {
    .select {
        grid-column: 1 / 2;
    }
}

@media (max-width: 767px) {
    .cantidad {
        grid-row: 2 / 3;
    }
}

@media (min-width: 768px) {
    .cantidad {
        grid-column: 2 / 3;
    }
}

.formulario__campo {
    border: 1rem solid #564D65;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    font-family: var(--font);
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: #564D65;
    border: none;
    color: #05F140;
    font-size: 2rem;
    font-family: var(--font);
    padding: 2rem;
    border-radius: 1.5rem;
    transition: color 1s ease;
    transition: background-color 1s ease;
    grid-row: 3 / 4;
}

@media (min-width: 768px) {
    .formulario__submit {
        grid-column: 1 / 3;
    }
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: #2CDA9D;
    color: #564D65;
}